# PyCharm workspace config
.idea/

# Temp scripts
*/scripts/scratch*
*/scripts/temp*
backups/

# Virtual environments
*_venv
Lib/
Include/
Scripts/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# MySQL Workbench
*.mwb

# C extensions
*.so

# Distribution / packaging (buildout, etc.)
bin/
build/
develop-eggs/
#dist/
!*/bower_components/bootstrap/dist/*  # TODO: fix this
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-selfcheck*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Application logs
logs/
*.log

# Unit test / coverage reports
.tox/
.coverage
.cache
.noseids
cover/
htmlcov/
nosetests.xml
coverage.xml

# Translations
*.mo

# Rope
.ropeproject

# Django stuff:
*.pot

# Sphinx documentation
docs/_build/

# Backup files
*~
*.bak
*.ok
*.old
*.swp
