desktop.ini
examples.zip
crs1906.zip
examples/ch09_examples/imagescale_in.backup/
examples/ch09_examples/imagescale_out/
.timestamp
exercises.backup/
exercises.clean/
exercises.copy/
exercises.zip

# PyCharm workspace config
# .idea/

# VS Code project config
.vscode/

.pytest_cache/

# Mecurial repositories
.hg/

# Backup directories
#backups/

# pypiserver package directory
pypiserver_packages/

# Virtual environments
*venv*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.mypy_cache/

# MySQL Workbench
*.mwb

# C extensions
*.so

# Distribution / packaging (buildout, etc.)
bin/
build/
develop-eggs/
# Ignore ticketmanor/dist but not ticketmanor/html/javascripts/bower_components/bootstrap/dist
*/*/dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-selfcheck*
*.local

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Application logs
logs/*
*.log
!exercises/ex01_inheritance/ticketmanor/logs/ticketmanor.log
!exercises/ex02_template_method/ticketmanor/logs/ticketmanor.log
!exercises/ex03_unit_testing/ticketmanor/logs/ticketmanor.log
!exercises/ex03_with_mocks/ticketmanor/logs/ticketmanor.log
!exercises/ex08_concurrency/ticketmanor/logs/ticketmanor.log
!exercises/ex08_multiprocessing/ticketmanor/logs/ticketmanor.log
!exercises/solution_ex01_inheritance/logs/ticketmanor.log
!exercises/solution_ex01_inheritance/ticketmanor/logs/ticketmanor.log
!exercises/solution_ex02_template_method/ticketmanor/logs/ticketmanor.log
!exercises/solution_ex03_unit_testing/ticketmanor/logs/ticketmanor.log
!exercises/solution_ex03_with_mocks/ticketmanor/logs/ticketmanor.log
!exercises/solution_ex08_concurrency/ticketmanor/logs/ticketmanor.log
!exercises/solution_ex08_multiprocessing/ticketmanor/logs/ticketmanor.log
!exercises/ticketmanor_webapp/ticketmanor/logs/ticketmanor.log


# Unit test / coverage reports
.tox/
.coverage
.cache
.noseids
cover/
htmlcov/
nosetests.xml
coverage.xml

# Translations
*.mo

# Rope
.ropeproject

# Django stuff:
*.pot

# Sphinx documentation
docs/_build/

# Backup files
*~
*.bak
*.ok
*.old
*.swp
