<div ng-controller="sportsCtrl">
  <div class="pull-center">
    <div class="sports-header">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 concerts-search search-bg">
          <div class="row">
            <div class="col-md-10">
              <form role="form" name="sports_search_form">
                <div class="input-group input-width">
                  <input type="text" class="form-control" style="width:60%;"
                         placeholder={{sports_search_placeholder}}
                         ng-model="sports.single.words">
                  <!-- MW 2015-07-28 change placeholder text when menu item changes -->
                  <select class="input-group-addon form-control" 
                    style="width:20%;"
                    ng-model="sports.single.event_type"
                    ng-init="sports.single.event_type = 'Event'"
                    ng-change="update_sports_search_placeholder(sports.single.event_type)"> <!--MW 2015-07-28-->
                      <option value="Event">Event, team, or athlete</option>
                      <option value="Venue">Venue</option>
                      <option value="Date">Date</option>
                      <option value="City">City</option>
                  </select>
                  <select class="input-group-addon form-control" 
                    style="width:20%;"
                    ng-model="sports.single.location"
                    ng-init="sports.single.location = options[0]">
                      <option value="">Location</option>
                      <option value="SE">SWEDEN</option>
                      <option value="UK">UK</option>
                      <option value="US">USA</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default btn-block" 
                ng-click="search(sports, page, search_param)">
                <i class="glyphicon glyphicon-search"></i>
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- list of sports news -->
  <div class="events">
    <div class="fx-fade-right fx-easing-cubic fx-speed-1000" ng-show="sports_view">
      <div class="search_scroll">
        <div class="row">
          <div class="col-md-6">
            <h2 class="search-results">Search results</h2>
          </div>
          <div class="col-md-6">
            <div class="pull-right pages">
              {{page*page_size < sports.list.events_length ? page*page_size : sports.list.events_length }} of {{sports.list.events_length}}</div>
          </div>
        </div>
        <hr class="hr_line" style="margin-top:0px;">
        <div class="row">
          <div class="col-md-12">
            <div class="fx-fade-right fx-easing-cubic fx-speed-1000 scroll-container">
              <table>
                <tr>
                  <td width="1%">
                    <div class="pull-left search-moves" ng-hide="page == 1"
                        ng-click="search(sports, sports.list.page_back, arrows)">
                      <i class="fa fa-chevron-left scroll-arrows"></i>
                    </div>
                  </td>
                  <td width="98%" class="pull-center">                  
                    <div ng-repeat="sport in sports.list.events" class="scroll-pills">
                      <div class="thumbnail pull-center fx-bounce-right fx-speed-800" 
                        ng-show="sports_list"
                        ui-sref="events.show.event({event_type: 'sports', event_id: sport.id})">
                        <img ng-src="{{sport.image_thumbnail}}" class="news-img">
                        <div class="">{{sport.title}}</div>
                        <div class="">{{sport.date_time | date: 'medium'}}</div>
                        <div class="">{{sport.venue.name}}</div>
                        <div class="">{{sport.venue.city}}</div>
                        <div class="price">{{sport.price}}</div>
                      </div>
                    </div>
                  </td>
                  <td width="1%">
                    <div class="pull-right search-moves" 
                      ng-hide="page*page_size >= sports.list.events_length"
                      ng-click="search(sports, page, arrows)">
                      <i class="fa fa-chevron-right scroll-arrows"></i>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="search_pills">
        <div class="row">
          <div class="col-md-6 col-sm-7 col-xs-12">
            <h2 class="search-results">Search results</h2>
          </div>
          <div class="col-md-5 col-sm-3 col-sx-12 alignment-right">
            <div class="pages">
              {{page*page_size < sports.list.events_length ? page*page_size : sports.list.events_length }} of {{sports.list.events_length}}</div>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-12 alignment-right">
            <div class="btn-group btn-group-xs" role="group" style="margin-top: 12px;">
              <button type="button" 
                class="btn btn-default"
                ng-disabled="page == 1"
                ng-click="search(sports, sports.list.page_back, arrows)">
                <i class="fa fa-backward scroll-arrows-sm"></i>
              </button>
              <button type="button" 
                class="btn btn-default"
                ng-disabled="page_size*page >= sports.list.events_length"
                ng-click="search(sports, page, arrows)">
                <i class="fa fa-forward scroll-arrows-sm"></i>
              </button>
            </div>
          </div>
        </div>
        <hr class="hr_line">
        <div class="row">
          <div ng-repeat="sport in sports.list.events">
            <div class="col-md-4 col-sm-6 col-xs-12 fx-bounce-right fx-speed-800" 
            ng-show="sports_list"
            ui-sref="events.show.event({event_type: 'sports', event_id: sport.id})">
              <div class="thumbnail news" style="margin:5px;">
                <table>
                  <tr>
                    <td>
                      <img ng-src="{{sport.image_thumbnail}}" class="news-img">
                    </td>
                    <td class="news-content-thumb">
                      <div>{{sport.venue_country}}</div>
                      <div>{{sport.venue_city}}</div>
                      <div>{{sport.venue_name}}</div>
                      <div>{{sport.date_time | date: 'MMM d, y h:mm a'}}</div>
                      <div class="price">{{sport.price}}</div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr_line">
      </div>
    </div>
    <h2 class="pull-center heading">News</h2>
    <hr class="hr_line">
    <div class="row">
      <div ng-repeat="news in news.list">
        <div ui-sref="events.show.news({event_type: 'sports', news_id: news.id})" class="news-link">
          <div class="col-md-6">
            <a ng-href="{{news.link}}" target="_blank"> <!--MW 2015-08-04-->
            <div class="thumbnail news">
              <table>
                <tr>
                  <td>
                    <img ng-src="{{news.image_thumbnail}}" class="news-img">
                  </td>
                  <td class="news-content-thumb">
                    <div class="news-title">{{ news.title }}</div>
                    <div class="news-date">{{ news.date | date: 'MMM d, y h:mm a'}}</div>
                    <div>{{ news.content | characters: 155: false }}</div>
                  </td>
                </tr>
              </table>
            </div>
            </a>
          </div>
        </div> 
      </div>   
    </div>
    <!-- <div class="pull-right">
      <a ui-sref="events.show.concerts" class="label label-info">Show more 
      <i class="fa fa-caret-square-o-right"></i>
      </a>
    </div> -->
  </div>
</div>