<div ng-controller="newsCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="margin: 2% 0%;">
          <h3 class="pull-center heading">News</h3>
          <h4 class="heading">Concerts</h4>
          <hr class="hr_line">
          <div class="row">
            <div ng-repeat="news in news.list.concerts">
              <div ui-sref="events.show.news({event_type: 'concerts', news_id: news.id})" class="news-link">
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="thumbnail news">
                    <table>
                      <tr>
                        <td>
                          <img src="{{news.image_thumbnail}}" class="news-img">
                        </td>
                        <td class="news-content-thumb">
                          <div class="news-title">{{ news.title }}</div>
                          <div class="news-date">{{ news.date | date: 'MMM d, y h:mm a'}}</div>
                          <div>{{ news.content | characters: 90: false }}</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div> 
              </div>  
            </div>
          </div>
          <h4 class="heading">Sports</h4>
          <hr class="hr_line">
          <div class="row">
            <div ng-repeat="news in news.list.sports">
              <div ui-sref="events.show.news({event_type: 'concerts', news_id: news.id})" class="news-link">
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="thumbnail news">
                    <table>
                      <tr>
                        <td>
                          <img src="{{news.image_thumbnail}}" class="news-img">
                        </td>
                        <td class="news-content-thumb">
                          <div class="news-title">{{ news.title }}</div>
                          <div class="news-date">{{ news.date | date: 'MMM d, y h:mm a'}}</div>
                          <div>{{ news.content | characters: 90: false }}</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div> 
              </div>  
            </div>
          </div>
          <h4 class="heading">Movies</h4>
          <hr class="hr_line">
          <div class="row">
            <div ng-repeat="news in news.list.movies">
              <div ui-sref="events.show.news({event_type: 'concerts', news_id: news.id})" class="news-link">
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="thumbnail news">
                    <table>
                      <tr>
                        <td>
                          <img src="{{news.image_thumbnail}}" class="news-img">
                        </td>
                        <td class="news-content-thumb">
                          <div class="news-title">{{ news.title }}</div>
                          <div class="news-date">{{ news.date | date: 'MMM d, y h:mm a'}}</div>
                          <div>{{ news.content | characters: 90: false }}</div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div> 
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>